@page "/"

<PageTitle>Home</PageTitle>

<h1>Microservices using Identity Server 4 and ASP.NET Core Identity</h1>

Securing .Net 6 Microservices with IdentityServer4 using OAuth2 and OpenID Connect

<SurveyPrompt Title="How is Blazor working for you?" />
